# Create a clean requirements file

flask==2.3.3
flask-cors==4.0.1
tensorflow==2.19.0
numpy==1.26.0
Pillow==10.1.0
opencv-python==4.9.0.80
python-dotenv==1.0.0
werkzeug==3.0.1
flask-sqlalchemy==3.1.1
flask-bcrypt==1.0.1
flask-login==0.6.2
reportlab==4.0.4
pandas==2.1.4



#http://localhost:8000/# This is the URL for the local development server. You can access your Flask application by navigating to this URL in your web browser. Make sure your Flask app is running on port 8000 for this to work.
